@model IEnumerable<Loja.Models.Venda>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Carro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAVista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parcelas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorJuros)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BancoFinanciamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComissaoVendedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntrega)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Carro.CarroId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.ClienteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorVenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAVista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parcelas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorJuros)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BancoFinanciamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendedor.UsuarioId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComissaoVendedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEntrega)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VendaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VendaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VendaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
